/Unity/Assets/UniRx/Scripts/Asynchronous/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/Disposables/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/InternalUtil/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/Notifiers/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/Schedulers/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/Subjects/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/System/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/UnityEngineBridge/desktop.ini.meta
/Unity/Assets/UniRx/Scripts/UnityWinRTBridge/desktop.ini.meta
